<div class="w-full mt-5 mr-10 ml-10">
  <div class="flex justify-between ... mb-5">
    <div class="row" style="width: 100%;">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <app-prestamo-libro></app-prestamo-libro>
        <button type="button" label="Agregar lector" style="float: right;" (click)="modalLector()" pButton
          color="primary">
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <p-table #dt1 dataKey="id"     responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['nombres','apellidos','correo','grado']"
    class="w-full" [value]="lectores" responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">

        <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
              </span>
      </div>
  </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombres">Nombre <p-sortIcon field="nombres"></p-sortIcon></th>
          <th pSortableColumn="apellidos">Apellido <p-sortIcon field="apellidos"></p-sortIcon></th>
          <th pSortableColumn="correo">Correo <p-sortIcon field="correo"></p-sortIcon></th>
          <th pSortableColumn="grado">Grado <p-sortIcon field="grado"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lector>
        <tr>
          <td>{{lector.nombres}}</td>
          <td>{{lector.apellidos}}</td>
          <td>{{lector.correo}}</td>
          <td>{{lector.grado}}</td>
          <td style="display: flex; justify-content: center;">
            <button type="button" pButton icon="pi pi-pencil" class="p-button-text" (click)="modalLector(lector)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-modal-lector [lector]="lector" [modalShowLector]="modalShowLector" (modalCerrar)="modalCerrar()"></app-modal-lector>
