<div class="mt-2">
    <h3 class="text-3xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
        Tabla de monitoreo
    </h3>
    <div class="leading-6 truncate text-secondary">Estadísticas de visitas al menú virtual</div>
</div>
<div class="table-responsive">
    <p-table #dt1 dataKey="id" responsiveLayout="scroll"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [globalFilterFields]="['nombres','apellidos','correo','grado']" class="w-full" [value]="prestamos"
      responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Buscar..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">Lector <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="autor">Libro <p-sortIcon field="autor"></p-sortIcon>
          </th>
          <th pSortableColumn="estado">Fecha prestamo <p-sortIcon field="estado"></p-sortIcon>
          </th>
          <th pSortableColumn="estado">Tiempo transcurrido <p-sortIcon field="estado"></p-sortIcon>
          </th>
          <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon>
          </th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prestamo>
        <tr>
          <td>{{prestamo.lector.nombres}}</td>
          <td>{{prestamo.libro.nombre}}</td>
          <td>{{prestamo.fechaCreacion}}</td>
          <td>16 horas</td>
          <td>{{prestamo.estado}}</td>
          <td style="display: flex; justify-content: start;">
            <button type="button" pButton icon="pi pi-pencil" class="p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>