<div class="flex flex-col flex-auto min-w-0 mr-10 ml-10">
        <!-- Estadisticas -->
        <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <!--  *ngIf="formEstadisticasMenu.valid && formEstadisticasMenuQR.valid && mostrarDatosEmpresa
                    [formEstadisticasMenu]="formEstadisticasMenu"
                        [formEstadisticasMenuQR]="formEstadisticasMenuQR" [dataEmpresa]="dataEmpresa"" -->
                <app-estadisticas-basicas></app-estadisticas-basicas>
            </div>
        </div>
</div>
