<div class="w-full mt-5 mr-10 ml-10">
  <div class="flex justify-between ... mb-5">
    <div class="row" style="width: 100%;">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <button type="button" label="Agregar estudiante" style="float: right;" (click)="agregarEstudiante()" pButton
          color="primary">
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <p-table #dt1 dataKey="id" class="w-full" [value]="estudiantes" responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['nombres','apellidos','correo','grado']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
              </span>
      </div>
  </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombres">Nombre <p-sortIcon field="nombres"></p-sortIcon></th>
          <th pSortableColumn="apellidos">Apellido <p-sortIcon field="apellidos"></p-sortIcon></th>
          <th pSortableColumn="correo">Correo <p-sortIcon field="correo"></p-sortIcon></th>
          <th pSortableColumn="grado">Grado <p-sortIcon field="grado"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-estudiante>
        <tr>
          <td>{{estudiante.nombres}}</td>
          <td>{{estudiante.apellidos}}</td>
          <td>{{estudiante.correo}}</td>
          <td>{{estudiante.grado}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-crear-estudiante [modalCrearEstudiante]="modalCrearEstudiante" (modalCerrar)="modalCrearEstudiante = false"></app-crear-estudiante>
